{% extends 'base.html' %}



{% block content %}
    <h3>{{ some_text|capfirst }}</h3>>

    Contact info

    <p>
    {{ some_text }} and the number {{ some_number }}

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
    </ul>
    </p>

    <ul>
    {% for item in list %}
        <li>{{ forloop.counter }}
            {%  if True %}
            {{ item|add:10 }}
            {% elif False %}
            idk
            {% endif %}
        </li>
    {% endfor %}
    </ul>

{% endblock content %}